{% extends "base.html" %}{% block title %}Página Inicial{% endblock %}

{% block content %}

    <div class="container">
        <h3>Lista de contatos</h3>
        
        <a href="/adicionar_contato" class="btn btn-primary mt-3 mb-3"> + </a>

        {% with msgs = get_flashed_messages(with_categories=true) %}
            {% if msgs %}
                {% for cat, msg in msgs %}
                    <div class="alert alert-{{ cat }} alert-dismissible fade show mt-2">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if contatos %}
            {% for contato in contatos %}
                <div class="card">
                    <div class="card-body">
                        <h5>Contato: {{ contato.nome }}</h5>
                        <p>E-mail: {{ contato.email }}</p>
                        <p>Telefone: {{ contato.telefone }}</p>

                        <div class="container-botoes">
                            <a href="{{ url_for('user.editar', id=contato.id) }}" class="btn btn-warning">Editar</a>
                            <form action="{{ url_for('user.deletar', id=contato.id)}}" method="post" id="form-deletar">
                                {{ form_deletar.hidden_tag() }}
                                {{ form_deletar.deletar(class="btn btn-danger")}}
                            </form>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        {% endif %}

        
    </div>
    
{% endblock %}